{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>

<body>
    <div class="overlay">
        <div class="modal">
            <h2>Ingreso Administrativos</h2>
            <form action="/Login/enviar_datos" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <label for="correo">Correo</label>
                    <div class="input-wrapper">
                        <i class='bx bx-user'></i>
                        <input type="text" id="correo" name="correo">
                    </div>
                </div>
                <div class="input-group">
                    <label for="contraseña">Contraseña</label>
                    <div class="input-wrapper">
                        <i class='bx bx-lock'></i>
                        <input type="password" id="contraseña" name="contraseña">
                    </div>
                </div>
                <button type="submit">Enviar los datos</button>
            </form>
            <div class="centrar-boton">
                <a href="{% url 'codigo_vista' %}" class="boton-enlace">
                    <strong class="boton-enlace">Registrar un nuevo administrador</strong>
                </a>
            </div>
            
            <!-- <a href="{% url 'registro_vista' %}">Ir a registro</a>
            <a href="{% url 'promotor_link' %}">Ir a Promotores</a>
            <a href="{% url 'index_link' %}">Ir al Inicio (index)</a>
            <a href="{% url 'colegio_link' %}">Ir a Colegios</a>
            <a href="{% url 'asistencia_link' %}">Ir a Asistencias</a>
            <a href="{% url 'generador_link' %}">Ir a Generador</a> -->
            {% for user in superuser %}
            <p>{{user.correo_administrador}} - {{user.contraseña_administrador}}</p>
            {% endfor %}
        </div>
    </div>

</body>

</html>

<script src="{% static 'js/app.js' %}"></script>