{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'css/registro.css' %}">
</head>

<body>
    <div class="overlay">
        <div class="modal">
            <h2>Registrar Administrativos</h2>
            <div id="errorMensaje" style="color: red; display: none;"></div>
            <form action="/Login/enviar_registro" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <div class="input-col">
                        <label for="nombre">Nombre</label>
                        <div class="input-wrapper">
                            <i class='bx bx-user'></i>
                            <input type="text" id="nombre" name="nombre" placeholder="Ingresar el nombre">
                        </div>
                    </div>
                    <div class="input-col">
                        <label for="apellido">Apellido</label>
                        <div class="input-wrapper">
                            <i class='bx bx-user'></i>
                            <input type="text" id="apellido" name="apellido" placeholder="Ingresar el apellido">
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-col">
                        <label for="correo">Correo</label>
                        <div class="input-wrapper">
                            <i class='bx bx-user'></i>
                            <input type="text" id="correo" name="correo" placeholder="Ingresar el correo">
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-col">
                        <label for="sede">Sede</label>
                        <select id="sede" name="sede" class="input-wrapper">
                            <i class='bx bx-user'></i>
                            <option value="0">Lima Centro</option>
                            <option value="1">Lima Norte</option>
                            <option value="2">Lima Sur</option>
                            <option value="3">Lima Este-SJL</option>
                            <option value="4">Lima Este-Ate</option>
                            <option value="5">Arequipa</option>
                            <option value="6">Chiclayo</option>
                            <option value="7">Chimbote</option>
                            <option value="8">Piura</option>
                            <option value="9">Huancayo</option>
                            <option value="10">Ica</option>
                            <option value="11">Trujillo</option>
                        </select>
                    </div>
                </div>
                <button type="submit" onclick="Enviar()">Registrar Datos</button>
            </form>
            <div class="centrar-boton">
                <a href="{% url 'login_vista' %}" class="boton-enlace">
                    <strong class="boton-enlace">Regresar al Login</strong>
                </a>
            </div>
        </div>
    </div>

</body>
</html>
<script>
    function Enviar(){
        event.preventDefault(); 
        const errorDiv = document.getElementById('errorMensaje');
        var nombre = document.getElementById("nombre").value
        var apellido = document.getElementById("apellido").value
        var correo = document.getElementById("correo").value
        var sedeSelect = document.getElementById("sede");
        var sede = sedeSelect.options[sedeSelect.selectedIndex].text;
        const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
        var Administrador ={
            nombre : nombre,
            apellido : apellido,
            correo : correo,
            sede : sede
        }
        console.log(Administrador)
        fetch('/Login/enviar_registro/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken,
            },
            body: JSON.stringify({
                nombre: nombre,
                apellido: apellido,
                correo: correo,
                sede: sede
            })
        })
        .then(response => response.json())
        .then(data => {
        console.log("Datos recibidos correctamente");
        console.log('Respuesta:', data);
        if (data.success) {
            return;
        } else if (data.error) {
            errorDiv.textContent = data.error;
            errorDiv.style.display = 'block';
        } else {
            errorDiv.textContent = 'Ocurrió un error inesperado.';
            errorDiv.style.display = 'block';
        }
    });
    }
</script>